{% extends "base.html" %}

{% block content %}

<div class="container text-left">
    <h3> FAQ </h3>
    <ul>
        <li>What is the Pomodoro Technique?
            <ul>
                <li>
                    A time management technique created by Francesco Cirillo 
                    for a more productive way to work and study.  
                    <a href="http://www.pomodorotechnique.com/">Click here</a>,
                    for more information.
                </li>
            </ul>
        </li>
        <br>
        <li>How does it work?
            <ul>
                <li>
                    Decide on a task
                </li>
                <li>
                    Run the Pomodoro timer for 25 minutes, focus only on this single task
                </li>
                <li>
                    Take a 5 minute break after each pomodoro, after 4 pomdoros take a 20 minute break
                </li>
            </ul>
        </li>
    </ul>
</div>

{% endblock %}