{% extends "base.html" %}

{% block content %}


<div class="container text-center">
    <div class="btn-group">
            <button id="work">Work</button>
            <button id="rest">Rest</button>
    </div> 
    <h1 id="clock">25:00</h1>      
    <p class="controls">
        <a id="start" class="btn btn-primary start" href="#">START!</a>
        <a id="stop" class="btn btn-primary stop" href="#">Stop</a>
        <a id ="reset" class="btn btn-primary reset" href="#">Reset</a>
    </p>
</div>



{% endblock %}