{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <form action="" method="POST" name="login">
          <h3> Sign In </h3>
          <input type="username" name="username" placeholder="Username"> <br>
          <input type="password" name="password" placeholder="Password"> <br>
          <input type="submit" value="Create Account">
          <!-- Take the form values for create account and use to initialize 
            the values on the sign up page the button takes you to -->
          <input type="submit" value="Sign in">
        </form>
</div>


{% endblock %}